__pycache__/
*.py[cod]

.venv/
venv/
env/

.idea/
.vs/

data/india/
data/weekly/
data/monthly/
data/us/
data/.stock-cache/
data/charts/
data/metadata/*
!data/metadata/latest_stock_values.parquet
!data/metadata/monthly_valuations.parquet

.streamlit/secrets.toml
